html{
  font-size: 65.5%;
  box-sizing: 0;
}

body {
  font-family: 'Cairo', sans-serif;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  background: #16005b;
  font-size: 1.6rem;
}

p{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #45505b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cairo', sans-serif;
}

@media (min-width: 768px){
  h1{
    font-size: 3rem;
  }
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #ffffff;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #5129d7;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}
